<link rel="stylesheet" href="/stylesheets/stories_list.css">
<link href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet">
<script src="//vjs.zencdn.net/5.19/video.min.js"></script>
<%if (stories.length == 0) {%>
	<h1>	No stories yet!	</h1>
	<%}%>
	<%for(var i =0;i<stories.length;i++) {%>
		<div class="row mb-1">
			<div class="col-md-12">
				<div class="card flex-md-row mb-4 box-shadow h-md-250">
					<div class="card-body d-flex flex-column align-items-start">

						<!-- User Detail -->
						<h4 class="mb-0">
							<!-- <span> -->
							<div style="background-image: url(/images/<%=stories[i].author.id%>.jpg);" class="profile_image">
							</div>
							<!-- </span> -->
							<a class="username_label" href="/profile/<%=stories[i].author.id%>"><%=stories[i].author.username%></a>
						</h4>

						<!-- date -->
						<div class="story_date">
							<p><%=stories[i].date_posted%></p>

						</div>

						<!-- story content -->
						<p class="card-text mb-auto">
							<%=stories[i].text%>
						</p>


						<% if(stories[i].video_url) { %>
								<video
								id="my-player"
								class="video-js story_video"
								preload="auto"
								autoplay
								muted
								data-setup='{}'>
								<source src="<%=stories[i].video_url%>" type="video/mp4">
								<p class="vjs-no-js">
									To view this video please enable JavaScript, and consider upgrading to a
									web browser that
									<a href="http://videojs.com/html5-video-support/" target="_blank">
										supports HTML5 video
									</a>
								</p>
							</video>


						<% } else { %>
							<!-- Story Image -->
							<div style="background-image: url(<%=stories[i].image_url%>);" class="story_image">
							<!-- <img src="<%=stories[i].image_url%>" alt=""> -->
							</div>
						<% } %>

							<!-- Story reactions -->
							<div class="story_reactions">
							<span>

								<!-- Like button -->
								<button id="like_<%=stories[i]._id%>" class="btn btn-primary like_button" name="button">
									<span class='like_count'><%=stories[i].likes.length%></span>

									<i class="fa fa-thumbs-up"></i>
								</button>

								<!-- Dislikes button -->
								<button class="btn btn-danger dislike_button" name="button" id="dislike_<%=stories[i]._id%>">
									<span class='dislike_count'><%=stories[i].dislikes.length%></span>
									<i class="fa fa-thumbs-down"></i>
								</button>

								<!-- Comments button -->
								<button class="btn btn-dark comments_button" data-toggle="modal" data-target="#modal_<%=stories[i]._id%>" name="button" id="comments_button_<%=stories[i]._id%>">
									<span class='comments_count'><%=stories[i].comments.length%></span>
									<i class="fa fa-comments"></i>
								</button>

								<!-- Comments Modal -->
								<div id="modal_<%=stories[i]._id%>" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg" id="modal_dialog_<%=stories[i]._id%>">
										<div class="modal-content">
											<!-- Modal Content -->
											<%- include('comment', {story:stories[i]}); %>
										</div>
									</div>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>
		<%}%>

<script src="/js/story_list.js"></script>
